html, body {
    background: #F4F7FB;
    font-family: Inter, serif;
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

aside {
    display: grid;
    grid-column: 1;
    grid-row: 1 / 3;
    position: fixed;
    width: 15%;
    background-color: #F89876;
    height: 98vh;
    border-radius: 0 50px 50px 0;
    grid-template-rows: 70px 1fr;
}

aside .logo {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    justify-self: center;
    font-size: 20px;
    align-self: center;
    color: white;
}

aside .links {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: inherit;
    padding-bottom: 15%;
    padding-top: 15%;
}

aside .links .link-1 a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

aside .links .link-2 a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.container .left-nav .links .link-item {
    padding-top: 20px;
    display: flex;
    gap: 5px;
    padding-left: 30%;
    align-items: center;
}

.link-1 .link-item:hover, .link-item:hover {
    border-left: #F4F7FB 5px solid;
    transition-duration: 1s;
}

header {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 50px 1.2fr 1fr;
}

.container .project-section {
    grid-column: 2;
    grid-row: 3;
    padding-top: 3%;
}

.main .main-header h5 {
    color: #707173;
}

.main .cards {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main .cards .visits-card {
    background-color: white;
    height: 260px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
}

.main .cards .visits-card .card-title {
    display: flex;
    justify-content: center;
    padding: 30px 30px 0 30px;
}

.main .cards .visits-card .card-footer {
    display: flex;
    justify-content: center;
    padding: 0 30px 20px 30px;
    font-size: 13px;
}

.main .cards .visits-card .card-body {
    display: flex;
    padding: 0 30px 0 30px;
    flex-direction: column;
}

.main .cards .visits-card .card-subtitle {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.main .cards .visits-card .stats-graph {
    display: flex;
    justify-content: center;
    color: #5FEF5C;
}

.main .cards .visits-card .stats-graph-down {
    display: flex;
    justify-content: center;
    color: #F6557E;
}

.main .cards .visits-card .card-subtitle .number {
    font-size: 70px;
    font-weight: bold;
}

.main .cards .visits-card .card-subtitle .sub-title {
    display: flex;
    gap: 5px;
    color: #707173;
    font-size: 13px;
}

.main .cards .comment-card {
    height: 260px;
    border-radius: 24px;
    background-color: white;
}

.main .cards .messages-card {
    height: 260px;
    border-radius: 24px;
    background-color: white;
}

.main .cards .blog-card {
    height: 260px;
    background-color: white;
    border-radius: 24px;
}

.main .main-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .main-message .recent-title {
    color: #707173;
    font-size: 20px;
}

.main .main-message .recent-message {
    background-color: white;
    border-radius: 24px;
    display: flex;
    color: #707173;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 20px;
}

.message-table thead {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #F89876;
    text-align: center;
}

.message-table tr {
    text-align: center;
}

.main .main-message .recent-message .recent-item {
    display: flex;
    gap: 20px;
}

.main .main-message .recent-header {
    display: flex;
    gap: 20px;
    color: black;
    text-align: center;
}

.main .main-message .recent-header .message-sent {
    flex: 1;
}

.main .main-message .recent-header .user {
    flex: 1;
}

.main .main-message .recent-message .user-part {
    display: flex;
    gap: 5px;
    color: black;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.main .main-message .recent-message .message-content {
    flex: 1;
    justify-content: center;
    text-align: justify;
}

.main .main-message .recent-message .user-part .avatar {
    height: 50px;
    width: 50px;
}

#project {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#project .main-header {
    padding-top: 3%;
    grid-row: 1;
}

#project .main-header h5 {
    color: #707173;
}

#project .main-message {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    gap: 20px;
}

#project .main-message .add-button {
    display: flex;
    justify-content: flex-end;
}

#project .main-message .add-button {
    display: flex;
    justify-content: flex-end;
}

#project .main-message .add-project {
    background-color: #f8a774;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 1em 5px 1em;
}

#project .main-message .recent-message {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 24px;
}

#project .main-message .recent-message .recent-header {
    display: flex;
    justify-content: space-between;
    grid-row: 2;
    color: black;
    font-weight: bold;
}

#project .main-message .recent-message .recent-item {
    display: flex;
    justify-content: space-between;
    grid-row: 2;
    gap: 10px;
}

#project .main-message .recent-message .recent-item .message-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    flex: 1;
    text-align: justify;
}

#project .main-message .recent-message .recent-item .thumbnail {
    flex: 1;
    justify-content: center;
    align-items: center;
}

#project .main-message .recent-message .recent-item .thumbnail img {
    height: 100px;
    width: 80%;
    border-radius: 24px;
}

#project .main-message .recent-message .recent-item .user-part {
    display: flex;
    flex: .5;
    gap: 10px;
}

/*BLOG SECTION*/

#blog-section {
    grid-column: 2;
    grid-row: 4;
    display: flex;
    gap: 20px;
    padding-top: 3%;
    flex-direction: column;
    justify-content: center;
}

#blog-section .main-header h5 {
    color: #707173;
}

#blog-section .main-message {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    gap: 20px;
}

#blog-section .main-message .add-button {
    display: flex;
    justify-content: flex-end;
}

#blog-section .main-message .add-project {
    background-color: #f8a774;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 1em 5px 1em;
}

#blog-section .main-message .recent-message {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 24px;
}

#blog-section .main-message .recent-message .recent-header {
    display: flex;
    justify-content: space-between;
    grid-row: 2;
    color: black;
    font-weight: bold;
}

#blog-section .main-message .recent-message .recent-item {
    display: flex;
    justify-content: space-between;
    grid-row: 2;
    gap: 10px;
}

#blog-section .main-message .recent-message .recent-item .message-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    flex: 1;
    text-align: justify;
}

#blog-section .main-message .recent-message .recent-item .thumbnail {
    flex: 1;
    justify-content: center;
    align-items: center;
}

#blog-section .main-message .recent-message .recent-item .thumbnail img {
    height: 100px;
    width: 80%;
    border-radius: 24px;
}

#blog-section .main-message .recent-message .recent-item .user-part {
    display: flex;
    flex: .5;
    gap: 10px;
}

/* Message section */

#message-section {
    grid-column: 2;
    grid-row: 5;
    display: flex;
    gap: 20px;
    padding-top: 3%;
    flex-direction: column;
    justify-content: center;
}


#message-section .main-message .recent-header {
    display: flex;
    gap: 20px;
    color: black;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#message-section .main-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#message-section .main-message .recent-title {
    color: #707173;
    font-size: 20px;
}

#message-section .main-message .recent-message {
    background-color: white;
    border-radius: 24px;
    display: flex;
    color: #707173;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    padding: 20px;
}

#message-section .main-message .recent-message .recent-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

#message-section .main-message .recent-message .user-part {
    display: flex;
    gap: 5px;
    color: black;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    flex: .5;
}

#message-section .main-message .recent-message .message-content {
    text-align: justify;
    flex: 1;
}

#message-section .main-message .recent-message .status {
    text-align: center;
    flex: .5;
}

#message-section .main-message .recent-message .user-part .avatar {
    height: 50px;
    width: 50px;
}

#message-section .main-message .recent-header .message-sent {
    flex: 1;
}

#message-section .main-message .recent-header .user {
    flex: .5;
}

#setting-section {
    grid-column: 2;
    grid-row: 6;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 3%;
    justify-content: center;
}

#setting-section .main-header h5 {
    color: #707173;
}

#setting-section form {
    font-weight: bold;
    display: flex;
    width: 40%;
    flex-direction: column;
}

#setting-section form .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#setting-section .contact-form .email-input input {
    height: 30px;
    margin: 8px 0;
    width: 80%;
}

#setting-section .contact-form button {
    padding: 5px 10px 5px 10px;
    background: #F89876;
    color: white;
    width: inherit;
    border: none;
    border-radius: 50px;
}

#setting-section .contact-form {
    display: flex;
}

.adding {
    color: #F6557E;
!important;
}

.containerFetching {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*Register article dialog*/


dialog::backdrop {
    background: rgb(0, 0, 0, 40%);
    border: none;
}

dialog {
    border: none;
    border-radius: 10px;
    height: 50%;
    width: 60%;
    background: #FFFFFF;
}

.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-modal .modal-header {
    display: flex;
    justify-content: flex-end;
}

.login-modal .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.login-modal .login-form .email-group, .password-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-modal .login-form .input-label {
    font-weight: bold;
    font-size: 17px;
}

.login-modal .login-form .contentBody {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #F4F7FB;
    font-size: 13px;
    padding: 5px;
}

.login-modal .login-form .form-input {
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #F4F7FB;
    font-size: 13px;
    padding: 5px;
}

.login-modal .login-form .saveButton {
    display: flex;
    justify-content: right;
}

.login-modal .login-form .saveButton .login {
    font-size: 13px;
    padding: 5px 20px 5px 20px;
    background: #F6557E;
    color: #FEEEF2;
    text-decoration: none;
    border-radius: 30px;
    border: none;
}