html, body {
    background-color: #F4F7FB;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Montserrat, serif;
    scroll-behavior: smooth;
}

dialog::backdrop {
    background: rgb(0, 0, 0, 40%);
    border: none;
}

dialog {
    border: none;
    border-radius: 10px;
    height: 50%;
    width: 60%;
    background: #FFFFFF;
}

.login-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-modal .modal-header {
    display: flex;
    justify-content: flex-end;
}

.login-modal .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
}

.login-modal .login-form .email-group, .password-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-modal .login-form .input-label {
    font-weight: bold;
    font-size: 17px;
}

.login-modal .login-form .form-input {
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #F4F7FB;
    font-size: 13px;
    padding: 5px;
}


.login-modal .login-form .loginButton {
    display: flex;
    justify-content: right;
}

.login-modal .login-form .loginButton .login {
    font-size: 13px;
    padding: 5px 20px 5px 20px;
    background: #F6557E;
    color: #FEEEF2;
    text-decoration: none;
    border-radius: 30px;
    border: none;
}

.container {
    display: grid;
}

/*.container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

ul {
    display: flex;
}

#project {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    background-color: #707173;
}

.logo .text-logo {
    color: #F6557E;
    text-decoration: none;
    font-size: 2em;
    font-family: "Bodoni 72 Oldstyle", serif;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    text-decoration: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em 1.5em .5em 1.5em;
    border: #F6557E 1px solid;
    border-radius: 20px;
    color: #F6557E;
}

ul li a:hover {
    background-color: #FEEEF2;
    transition: 0.5s ease-in-out;
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #F4F7FB;
    align-items: center;
    justify-content: space-between;
}


.container .about-section {
    display: flex;
    align-items: center;
    /*height: 100vh;*/
}

.container .about-section .about-image img {
    border-radius: 50%;
}

.container .about-section .about-details .title-1 {
    font-size: 30px;
}

.container .about-section .about-details .title-2 {
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #f8a774 30%, #f6567e 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .about-section .about-details .title-3 {
    font-size: 25px;
}

.container .about-section .about-details .title-3 .border-bottom {
    border-bottom: 2px solid #F47979;
    border-bottom-width: 5px;
    width: 5%;
    bottom: 0;
}

.container .about-section .about-details .title-4 {
    font-size: 30px;
    width: 35%;
    font-weight: bold;
}

.container .about-section .about-details .bio-summary {
    font-size: 20px;
    width: 70%;
    color: #707173;
}

.container .about-section .about-details .bio-social {
    display: flex;
    gap: 10px;
    color: #F6557E;
}

.container .experience-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    font-size: 20px;
    gap: 100px;
}

.container .experience-section .border-bottom {
    border-bottom: 2px solid #F47979;
    border-bottom-width: 5px;
    width: 10%;
    padding-top: 10px;
    bottom: 0;
}

.container .experience-section .request-title {
    font-size: 25px;
    color: #707173;
}

.container .experience-section .request-title-1 {
    font-size: 30px;
}

.container .experience-section .request-title-2 {
    font-size: 25px;
    color: #707173;
}

.container .experience-section .request-title-3 {
    font-size: 30px;
}

.container .experience-section .experiences {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.container .experience-section .experiences .years {
    display: flex;
    gap: 10px;
}

.container .experience-section .experiences .years .title {
    color: #F6557E;
    font-weight: bold;
    font-size: 60px;
}

.container .experience-section .experiences .years .sub-title {
    color: #707173;
    width: 40%;
}

.container .experience-section .experiences .projects {
    display: flex;
    gap: 10px;
}

.container .experience-section .experiences .projects .title {
    color: #F6557E;
    font-weight: bold;
    font-size: 60px;
}

.container .experience-section .experiences .projects .sub-title {
    color: #707173;
    width: 40%;
}

.container .skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    margin: 5rem 0;
    gap: 50px;
}

.container .skills-section .skills-title {
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #f8a774 30%, #f6567e 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .skills-section .skills-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.container .skills-section .skills-items .skills-icon {
    color: #F6557E;
}

.container .skills-section .skills-items .skills-item-title {
    color: #F6557E;
    font-size: 50px;
}

.container .skills-section .skills-items .skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex: 1;
}

.container .skills-section .skills-items .skills-item .skills-desc {
    color: #707173;
    font-size: 20px;
    text-align: justify;
}

.container .work-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
}

.container .work-section .work-category-icon {
    display: flex;
    gap: 10px;
}

.container .work-section .work-category-icon .work-category-one {
    padding: 1em;
    background: white;
    margin: 10px;
    border-radius: 50%;
}

.container .work-section .work-title {
    background: -webkit-linear-gradient(45deg, #f8a774 30%, #f6567e 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    font-weight: bold;
}

.container .work-section .work-items {
    display: flex;
    align-items: center;
}

.container .work-section .work-items .work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .work-section .work-items .work-item .project-title {
    padding: 1em;
    background: white;
    border-radius: 20px;
}

.container .work-section .work-items .work-item img {
    height: 100%;
    width: 100%;
}

.container .blog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100vh;*/
    gap: 30px;
    justify-content: center;
}

.container .blog-section .blog-section-title {
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #f8a774 30%, #f6567e 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .blog-section .blog-section-items {
    display: flex;
    gap: 30px;
}

.container .blog-section .blog-section-items .blog-section-item {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.container .blog-section .blog-section-items .blog-section-article-title {
    font-weight: bold;
    font-size: 30px;
    text-align: justify;
}

.container .blog-section .blog-section-items .blog-section-article-subtitle {
    font-size: 20px;
    color: #707173;
    text-align: justify;
}

.container .blog-section .blog-section-items .readButton {
    display: flex;
    justify-content: right;
}

.container .blog-section .blog-section-items .readButton .read {
    font-size: 18px;
    padding: 5px 20px 5px 20px;
    background: #F6557E;
    color: #FEEEF2;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.container .blog-section .blog-section-items img {
    height: 100%;
    width: 100%;
}

.container .contact-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*height: 100vh;*/
    font-size: 20px;
}

.container .contact-section .contact-section-details .contact-section-one {
    font-weight: bold;
    font-size: 50px;
    background: -webkit-linear-gradient(45deg, #f8a774 30%, #f6567e 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .contact-section .contact-section-details .contact-section-two {
    font-weight: bold;
}

.container .contact-section .contact-section-details .contact-section-three, .contact-section-four {
    color: #707173;
    font-size: 30px;
}

.container .contact-section .contact-section-form .contact-section-form-title {
    font-weight: bold;
    color: #707173;
}

.container .contact-section .contact-section-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F6557E;
    gap: 20px;
    width: 50%;
}

.container .contact-section .contact-section-form .border-bottom {
    border-bottom: 2px solid #F47979;
    border-bottom-width: 5px;
    width: 5%;
    bottom: 0;
}

.container .contact-section .contact-section-form .contact-form .email-input #email {
    width: 90%;
    height: 30px;
    margin: 8px 0;
}

.contact-form #contentBody {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    font-size: 13px;
    padding: 5px;
}

.container .contact-section .contact-section-form .contact-form .email-input #names {
    width: 90%;
    height: 30px;
    margin: 8px 0;
}

.container .contact-section .contact-section-form .contact-form .message-input #message {
    width: 90%;
    margin: 8px 0;
}

.container .contact-section .contact-section-form .contact-form button {
    width: 91%;
    padding: 10px;
    background: #F6557E;
    color: white;
    border: none;
}

.experience-section .email {
    display: flex;
    gap: 0.5em;
    color: #F6557E;
}

/*Article page*/
.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.article-page .thumbnail {
    display: flex;
    height: 50vh;
}

.article-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.article-page .article-body {
    text-align: justify;
    width: 80%;
}

.article-page .article-title {
    font-weight: bold;
    width: 80%;
}

.article-container .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: #F6557E;
    gap: 20px;
    width: 50%;
}

.article-container .contact-section .contact-section-form .border-bottom {
    border-bottom: 2px solid #F47979;
    border-bottom-width: 5px;
    width: 5%;
    bottom: 0;
}

.article-container .contact-section .contact-section-form .contact-form .email-input #email {
    width: 90%;
    height: 30px;
    margin: 10px 0;
}

.article-container .contact-section .contact-section-form .contact-form .email-input #names {
    width: 90%;
    height: 30px;
    margin: 10px 0;
}

.article-container .contact-section .contact-section-form .contact-form .message-input #message {
    width: 90%;
    margin: 8px 0;
}

.article-container .contact-section .contact-section-form .contact-form button {
    width: 91%;
    padding: 10px;
    background: #F6557E;
    color: white;
    border: none;
}

.article-container .contact-section .contact-section-form .contact-section-form-title {
    font-weight: bold;
    color: #707173;
}

.article-container .comments {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 80%;
}

.article-container .commentator {
    font-weight: bold;
    border: none;
    padding: 5px;
    background-color: #cccdd0;
    border-radius: 0 10px 0 0;
    width: fit-content;
}

.article-container .comment {
    border: #cccdd0 1px solid;
    border-radius: 5px;
}

.menuIcon {
    display: none;
}

.blog-section-item-thumbnail figure {
    margin: 0;
}

/*Tables and under*/
/*@media (max-width: 975px) {*/
@media (max-width: 975px) {
    .links {
        display: none;
    }

    .menuIcon {
        display: block;
    }

    .container .about-section {
        flex-direction: column;
    }

    .about-details {
        text-align: center;
    }

    .border-bottom {
        margin: 0 auto;
    }

    .bio-summary {
        text-align: center;
        margin: 1.5rem auto;
    }

    .bio-social {
        justify-content: center;
    }

    .container .about-section .about-details .title-4 {
        width: 70%;
        margin: 1.5rem auto;
    }

    /*Experience section*/
    .experience-section {
        flex-direction: column;
    }

    /*Skills section*/
    .skills-items {
        flex-direction: column;
    }

    .container .skills-section .skills-items .skills-item .skills-desc {
        text-align: center;
        font-size: 1.2rem;
    }

    /*Work section*/
    .work-items {
        flex-direction: column;
        gap: 3rem;
    }

    .work-item {
        gap: 1rem;
    }

    .work-category-icon {
        margin: 1.5rem 0;
    }

    .project-thumbnail {
        width: 75%;
        margin: 0 auto;
    }

    /*blog section*/
    .blog-section {
        margin: 5rem 0;
    }

    .container .blog-section .blog-section-items {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .blog-section-item {
        width: 75%;
        margin: 0 auto;
    }

    figure {
        width: 100%;
        margin: 0;
    }

    .container .blog-section .blog-section-items .readButton {
        justify-content: center;
    }

    .container .blog-section .blog-section-items .readButton .read {
        padding: 10px 35px;
    }

    /*contact section*/
    .contact-section {
        flex-direction: column;
    }

    .contact-section-details {
        text-align: center;
    }

    .contact-section-form-title {
        text-align: center;
    }

    .contact-section-form-title p {
        margin-bottom: 0.3rem;
    }

    .container .contact-section .contact-section-form {
        width: 100%;
    }

    .container .contact-section .contact-section-form .contact-form .email-input #email {
        width: 100%;
        height: 30px;
        margin: 8px 0;
        padding: 0.3rem 0;
        border-radius: 4px;
        border: 1px #ccc solid;
    }

    .container .contact-section .contact-section-form .contact-form .email-input #names {
        width: 100%;
        height: 30px;
        margin: 8px 0;
        padding: 0.3rem 0;
        border-radius: 4px;
        border: 1px #ccc solid;
    }

    .container .contact-section .contact-section-form .contact-form .message-input #message {
        width: 99%;
        border-radius: 4px;
        border: 1px #ccc solid;
    }

    .container .contact-section .contact-section-form .contact-form button {
        width: 100%;
        border-radius: 4px;
        border: 1px #ccc solid;
    }

    .container .contact-section {
        margin-bottom: 2rem;
    }
}

/*Mobile*/
@media (max-width: 500px) {
}